@(users: Seq[User])(implicit messages: Messages)
@import b3.vertical.fieldConstructor

@dashboard {
  <h1 class="page-header">Dashboard</h1>
  <h2 class="sub-header">Section title</h2>
  <a href="@routes.DashboardController.userDetail(Long.MaxValue)">
    @b3.button('class -> "btn btn-default"){ <span class="glyphicon glyphicon-heart"></span> Insert }
  </a>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Header</th>
          <th>Header</th>
          <th>Header</th>
          <th>Header</th>
        </tr>
      </thead>
      <tbody>
      @for(user <- users) {
        <tr>
          <td><a href="@routes.DashboardController.userDetail(user.id)">@user.id</a></td>
          <td>@user.fullname</td>
          <td>@user.password</td>
          <td>@user.email</td>
          <td>@user.isAdmin</td>
        </tr>
      }
      </tbody>
    </table>
  </div>
}