@(users: Seq[User])

@dashboard {
  <h1 class="page-header">Dashboard</h1>
  <h2 class="sub-header">Section title</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Header</th>
          <th>Header</th>
          <th>Header</th>
          <th>Header</th>
        </tr>
      </thead>
      <tbody>
      @for(user <- users) {
        <tr>
          <td><a href="@routes.DashboardController.userDetail(user.id)">@user.id</a></td>
          <td>@user.fullname</td>
          <td>@user.password</td>
          <td>@user.email</td>
          <td>@user.isAdmin</td>
        </tr>
      }
      </tbody>
    </table>
  </div>
}